/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Dm Sans, sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #b3b3b3 0px 0px 0.4rem;
    border-radius: 0.3rem;
    margin-left: 16.5rem;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:focus, a:active {
    color: #551A8B;
    outline: none; /* Remove o contorno padrão */
}

h1 {
    color: #901795;
    font-size: 1.5rem;
}

/* Header */
body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
}


#logo_header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

#logo_header img {
    width: 5vw;
    height: 7vh;
    margin-right: 0.5rem;
}
.search-container {
    display: flex;
    align-items: center; /* Centraliza o ícone verticalmente */
    position: relative;
    width: 100%;
}

.search-container ion-icon {
    font-size: larger;
    color: #87058e;
    padding: 0.5rem;
    position: absolute;
    left: 10px; /* Ajuste a posição horizontal do ícone */
}

#header_search {
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza a barra de pesquisa */

}


#header_search input {
    padding: 0.5rem 1rem 0.5rem 2.5rem; /* padding: top right bottom left */
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* O input ocupa o máximo de espaço disponível */
    transition: 0.5s all ease;
}

#header_search input:hover {
    background: #f0f0f0;
}

input::placeholder {
    font-size: medium;
    font-weight: 100;
}


.header_content #content{
    gap: 0.5rem;
    padding: 0.5rem;
}

.header_content #content a {
    color: #87058e;
    font-size: 2rem;
    font-weight: 500;
    transition: 1.5s ease;

}

.header_content #content a:hover {
    color: #901795;
    border-radius: 0.5rem;
    transform: scale(1.1);
}

/* Left container */

.left_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 13vw;
    height: 100vh;
    padding: 1rem;
    top: 0;
    border: #b3b3b3 0.1rem solid;
    box-shadow: #b3b3b3 0px 0px 0.4rem;
    border-radius: 0.3rem;
}

.tools_navegation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.tools_navegation #tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#tools a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    color: #87058e;
    font-size: 1.1rem;
    transition: 0.5s ease;
}

#tools a span {
    margin-left: auto;
}


#tools a:hover {
    background: #f0f0f0;
    border-radius: 0.5rem;
}


.recent_tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0.5rem;
}

.tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: auto;
}

.tasks a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    color: #87058e;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.tasks a:hover {
    transform: scale(1.02);
}

.bottom_tools {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
}

.bottom_tools a {

    text-decoration: none;
    color: #87058e;
    font-size: 1.2rem;
    transition: 0.5s ease;
}

.bottom_tools a:hover {
    background-color: #f0f0f0;
    border: #f0f0f0 0.1rem solid;
    border-radius: 50%;
    padding: 1rem;
}



/* Main container */
.main_container{
    display: flex;
    margin-left: 17rem;
    padding: 1rem;
}
.main_container img {
    width: 35rem;
    height: 35rem;
    margin-top: 2.5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.main_container h1 {
    color: #87058e;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
}

.main_container p {
    color: #b66fba;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
}

.inicial_navegations_tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #fcfbfb;
    border-radius: 1rem;
    box-shadow: #dbdada 0px 0px 0.5rem;
}

.inicial_tools_options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inicial_tools_options a {
    background-color: #ebeaea70;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
    text-decoration: none;
}

.inicial_tools_options a span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}

.inicial_tools_options a:hover {
    background-color: #ebeaea;
    border-radius: 1rem;
}

.inicial_tools_options a #new_task_details {
    font-size: 1.3rem;
    font-weight: 200;
}

.inicial_tools_options a h4 {
    font-size: 1.4rem;
    font-weight: 300;
}

.inicial_tools_options a ion-icon {
    font-size: 1.4rem;
    color: #87058e;
}

.container {
    width: 100%;
    height: 50%;
    margin-top: 1rem;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #551A8B;
    margin-bottom: 0.5rem;
}

.icon {
    margin-right: 0.5rem;
}

.card {
    background-color: #ebeaea;
    padding: 2rem;
    height: 40vh;
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.icon-box {
    background-color: #c4c2c2;
    width: 3rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 0 auto 1rem auto;
}

.icon-box span {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
}


.new-event {
    color: #1b1a1b;
    text-decoration: none;
    font-size: 14px;
}

.new-event:hover {
    text-decoration: underline;
}